<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../css/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style1.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="../css/semantic/semantic.min.js"></script>
    </head>
    <header>
        <nav>
        <!-- TITLE -->
            <div>
                <h4 class="node_title">modele car express</h4>
            </div>

        <!-- BUTTONS -->
            <ul>
                <li class="head_button"><a class="ui button primary" href="/">Accueil</a></li>
                <li class="head_button"><a class="ui button primary" href="/login"><i class="share square icon"></i>Connexion</a>
                <li class="head_button"><a class="ui button primary" href="/register"><i class="download icon"></i>Inscription</a></li>
            </ul>
        </nav>
    </header>
<body>
    
