<!-- INCLUDE HEADER -->
<%- include('../../header')%>

<!-- BUTTONS -->
<div class="admin_button">
    <a class="admin_button2" href='/post'><button class="ui button primary"><i class="download icon"></i>Ajouter un utilisateur</button></a>
    <a class="admin_button2" href='/addCar'><button class="ui button primary admin_button2"><i class="download icon"></i>Ajouter une voiture</button></a>
    <a class="admin_button2" href='/car'><button class="ui button primary admin_button2"><i class="download icon"></i>voiture</button></a>
    <a class="admin_button2" href='/reservation'><button class="ui button primary admin_button2"><i class="download icon"></i>reservation</button></a>
</div>

<!-- INCLUDE FOOTER -->
<%- include('../../footer')%>