<!-- INCLUDE HEADER -->
<%- include('../../header')%>

<!-- VERIFICATION MESSAGES -->
<% if(locals.message){ %>
  <div class="ui green message">
    <%- message %>
  </div>
<% } %>

<% if(locals.message_err){ %>
  <div class="ui red message">
    <%- message_err %>
  </div>
<% } %>

<div class="container">
  <div class="ui card centered">
    <!-- TITLE -->
    <div>
      <h1>Formulaire de connexion</h1>
    </div>

    <!-- IMAGE -->
    <div class="image">
      <img src="">
    </div>

    <!-- TITLE -->
    <div class="content">
      <a class="header">Login</a>
        <form class="formulaire" action="/login" method="post">
          <div class="ui equal width form post">

    <!-- EMAIL -->
            <div class="div_1">
              <div class="div_2">
                <div>
                  <label class="labtitle" >Adresse Email</label>
                </div>
                <div>
                  <input class="ui input" id="mail" name="mail" type="text">
                </div>
              </div>
            </div>

    <!-- PASSWORD -->
            <div class="div_1">
              <div class="div_2">
                <div>
                  <label  class="labtitle">Mot de passe</label>
                </div>
                <div>
                  <input class="ui input" id="password" name="password" type="password" wtx-context="25C92365-976F-4E6E-834F-1B6F8212E261">
                </div>
              </div>
            </div>

    <!-- SUBMIT BUTTON -->
            <div class="div_1">
              <button type="submit" class="ui button">Connexion</button>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>

<!-- INCLUDE FOOTER -->
<%- include('../../footer')%>