<!-- INCLUDE HEADER -->
<%- include('../../header')%>

<!-- VERIFICATION MESSAGES -->
<% if(locals.message){ %>
  <div class="ui green message">
    <%- message %>
  </div>
<% } %>

<% if(locals.message_err){ %>
  <div class="ui red message">
    <%- message_err %>
  </div>
<% } %>

<!-- FORM -->
<form class="formulaire" action="/auth/post" method="post">
    <div class="ui form post">
      
    <!-- TITLE -->
      <div class="header">
        <h1 class="header">Formulaire de publication</h1>
      </div>

    <!-- IMAGE -->
      <div class="div_1">
        <div class="div_2">
          <div>
            <label name="image">Charger une image</label>
          </div>
          <div>
            <input class="ui input" style="width:300px" name="image" type="file">
          </div>
        </div>
      </div>

    <!-- MODELE -->
      <div class="div_1 center aligned description">
        <div class="div_2">
          <div>
            <label name="intitule">modele <span class="red">*</span></label>
          </div>
          <div>
            <input class="ui input" style="width:300px" name="intitule" type="text" placeholder="Entrez le modele de la voiture ici">
          </div>
        </div>
      </div>
      <div class="div_1 center aligned description">
        <div class="div_2">
          <div>
            <label name="intitule">prix <span class="red">*</span></label>
          </div>
          <div>
            <input class="ui input" style="width:300px" name="prix" type="text" placeholder="Entrez le prix de la location par jour">
          </div>
        </div>
      </div>

    <!-- DESCRIPTION -->
      <div class="div_1">
        <div class="div_2">
          <div>
            <label name="description">Description <span class="red">*</span></label>
          </div>
          <div>
            <textarea class="ui input" style="width:300px" name="description" type="text" placeholder="Entrez la description de la publication ici"></textarea>
          </div>
        </div>
      </div>

    <!-- SUBMIT BUTTON -->
      <div class="div_1">
        <button type="submit" class="ui button">Poster</button>
      </div>
    </div>
  </div>
</form>

<!-- INCLUDE FOOTER -->
<%- include('../../footer')%>